<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="Select Skill" formControlName="name">
      <mat-option *ngFor="let skill of skills" [value]="skill.value">
        {{skill.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select Rating" formControlName="rating">
      <mat-option *ngFor="let rating of ratings" [value]="rating.value">
        {{rating.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>