<div>
    <h1>Login Details</h1>
    <div>
        <label for="username">Username:</label>
        <input #username id="username" type="text" placeholder="Enter User Name" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input #password id="password" type="text" placeholder="Enter Password" />
    </div>
    <div>
        <button type="button" (click)="login(username.value,password.value)">Submit</button>
        <button type="button" (click)="username.value=' '; password.value=' ';">Reset</button>
    </div>
</div>
