
<div style="padding-bottom:150px; padding-top:130px; min-height: 400px!important;">
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-12 col-md-offset-12" >


            <div >
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login Details</h1>
                <div>
                    <label for="username">Username:</label>
                    <input #username id="username" type="text" placeholder="Enter User Name" />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input #password id="password" type="text" placeholder="Enter Password" type="password"/>
                </div>
                <br>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" (click)="login(username.value,password.value)" style="width:150px">Submit</button>
                </div>
                <br/>
                <div>
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" (click)="username.value=' '; password.value=' '; profiles = false;" style="width:150px">Reset</button>
                </div>
            </div>
            <br>
            <div *ngIf="profiles" class="alert alert-danger">
                <div>Invalid Credentials</div>
            </div>

        </div>
    </div>
</div>
</div>


