<div class="container">
    <button type="button" *ngIf="isButtonsVisible" mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">{{buttonDesc}}</button>
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{gridType}} Skill Name </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action" *ngIf="isButtonsVisible">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <a (click)="openDialog('Update',element)">Edit</a> |
                <a (click)="openDialog('Delete',element)">Delete</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>